{% use "bootstrap_3_layout.html.twig" %}
{# Labels #}

{% block form_label -%}
    {% if label is same as(false) %}
        <div class="{{ block('form_label_class') }}"></div>
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_label %}

{% block form_label_class -%}
    form__label
{%- endblock form_label_class %}

{% block form_group_class -%}
    form-group
{%- endblock form_group_class %}
